.title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  width: 999px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: rgb(236, 170, 134);
  margin: 0px;
  position: relative;
}

@media screen and (max-width: 414px) and (min-width: 391px) {
  .title {
    width: 400px;
    bottom: 70px;
  }
}

@media screen and (max-width: 390px) and (min-width: 360px) {
  .title {
    width: 358px;
  }
}
