.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

.searchBar input {
  margin-top: 15px;
  width: 600px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 2.5rem;
  border: none;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.searchBar input::placeholder {
  color: rgb(202, 202, 202);
}

.searchButton {
  position: relative;
  background-color: rgb(72, 72, 72);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 50px;
  height: 40px;
  border: none;
  bottom: 2px;
}
.searchButton:hover {
  background-color: rgb(129, 129, 129);
}
.searchIcon {
  font-size: 35px;
  padding-right: 5px;
}

@media only screen and (min-width: 391px) and (max-width: 414px) {
  .searchBar input {
    width: 320px;
  }
}

@media only screen and (max-width: 390px) and (min-width: 360px) {
  .searchBar input {
    width: 290px;
  }
  .searchButton {
    bottom: 1px;
  }
}
